---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "";
---

<!-- Template acquired from https://bulmatemplates.github.io/bulma-templates/ -->
<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-8 is-variable is-vcentered">
          <div class="column is-two-thirds has-text-left">
            <h1 class="title is-1">Get involved with EDSC!</h1>
            <p class="is-size-4">
              <!-- Summary on why someone should become a speaker -->
              Are you passionate about data science and want to share your knowledge
              with others? We are always looking for presenters and volunteers. If
              you want to help build a fantastic data science community, we want
              to hear from you!
            </p>
          </div>

          <div class="column is-one-third has-text-left">
            <!-- How they wish to get involved -->
            <div class="field">
              <label class="label">How would you like to get involved?</label>
              <div class="control">
                <label class="radio">
                  <input type="radio" name="rsvp" />
                  Speak at an event
                </label>
                <label class="radio">
                  <input type="radio" name="rsvp" />
                  Volunteer with EDSC
                </label>
                <label class="radio">
                  <input type="radio" name="rsvp" />
                  Other
                </label>
              </div>
            </div>

            <!-- Name -->
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input is-medium" type="text" />
              </div>
            </div>

            <!-- Email -->
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input is-medium" type="text" />
              </div>
            </div>

            <!-- Anything else we should know -->
            <div class="field">
              <label class="label">Anything else we should know?</label>
              <div class="control">
                <textarea class="textarea is-medium"></textarea>
              </div>
            </div>

            <!-- Submit  -->
            <div class="control">
              <button
                type="submit"
                class="button is-link is-fullwidth has-text-weight-medium is-medium"
                >Send Message</button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style></style>
