---
const { title, link, linkText } = Astro.props;
---

<div class="card involved-card">
  <div class="card-content content is-flex-grow-1">
    <h4>{title}</h4>
    <slot />
  </div>

  <footer class="card-footer">
    <a class="button card-footer-item" href={link}>{linkText}</a>
  </footer>
</div>

<style>
  .involved-card {
    display: flex;
    flex-direction: column;
    background-color: #bde3ff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .button {
    background-color: #FF8811;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
</style>
