---

---

<footer class="footer">
  <div class="has-text-centered">
    <div class="block">
      <div class="container is-max-desktop">
        <div class="columns is-mobile" id="footer-links">
          <div class="column">
            <a href="/organizers/">Organizers & Volunteers</a>
          </div>
          <div class="column">
            <a href="/coc/">Code of Conduct</a>
          </div>
          <div class="column">
            <a href="/contact/">Contact</a>
          </div>
          <div class="column">
            <a href="/socials/">Social Media</a>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="container is-max-desktop" style="color: #AAA">
        <p>Edmonton Data Science Society</p>
      </div>
    </div>

    <div class="block" id="footer-socials">
      <div class="container is-max-desktop">
        <div class="columns is-mobile" id="footer-socials">
          <!-- DISCORD -->
          <div class="column">
            <a href="/#">
              <!-- TODO: DISCORD LINK -->
              <img
                src="./src/assets/dc.png"
                width="54"
                height="54"
                alt="Edmonton Data Science Community - Discord"
              /></a
            >
          </div>

          <!-- LINKEDIN -->
          <div class="column">
            <a
              href="https://www.linkedin.com/company/edmonton-data-science-community/"
              ><img
                src="./src/assets/ln.png"
                width="48"
                height="48"
                alt="Edmonton Data Science Community - LinkedIn"
              /></a
            >
          </div>

          <!-- GITHUB -->
          <div class="column">
            <a href="https://github.com/Edmonton-Data-Science-Community">
              <img
                src="./src/assets/gh.png"
                width="48"
                height="48"
                alt="Edmonton Data Science Community - GitHub"
              /></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
